go
env

lib/configurations/1.2/*
!lib/configurations/1.2/*.json
!lib/configurations/1.2/*.hash

lib/configurations/1.3/*
!lib/configurations/1.3/*.json
!lib/configurations/1.3/*.hash

lib/applications/*
!lib/applications/manifest.json
